/* Refresh waybar css: killall -SIGUSR2 waybar */

@define-color bg rgba(0, 0, 0, 0.85);
@define-color color         #a9b1d6;
@define-color color-faded   #595d70;

/* @define-color err    #802000;
@define-color warn   #785e3a; */

* {
    /* background-color: transparent; */
    border: none;
    transition: none;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @bg;
    color: @color;
    border-radius: 5px;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    color: @color-faded;
    padding: 0px 3px;
    transition: color 0.05s ease-in;
    transition-delay: 50ms;
}

#workspaces button.focused {
    color: @color;
}

#workspaces button.urgent {
    color: red;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: inherit;
    background: transparent;
    background-color: transparent;
}

#tray,
tooltip {
    padding: 0px 0px 0px 7px;
    background-color: @bg;
}

tooltip label {
    padding: 0;
    color: @color;
    text-shadow: none;
}

#battery,
#clock,
#cpu,
#load,
#memory,
#mode,
#mpris,
#network,
#scratchpad,
#temperature,
#tray,
#wireplumber {
    padding: 0px 7px 0px 7px;
}

#wireplumber.muted {
    color: @color-faded;
}

/* #custom-notification {
    padding-right: 11px;
}

#custom-notification.dnd-none {
    padding-right: 14px;
} */

#mpris {
    /* background-color: rgba(128, 74, 0, 0.6); */
}

#battery.charging {
    color: #7aa2f7;
}

#network,
#battery.not-charging {
    color: #9ece6a;
}

#load.warning,
#memory.warning,
#battery.warning:not(.charging) {
    color: #f0c674;
}

#load.critical,
#memory.critical,
#battery.critical:not(.charging),
#temperature.critical,
#network.disconnected {
    color: #cc6666;
}
