# hibernate when battery is less-or-equal-to 25%
ACTION=="change", KERNEL=="BAT0", SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-9]",  RUN+="/usr/bin/loginctl hibernate"
ACTION=="change", KERNEL=="BAT0", SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="1[0-9]", RUN+="/usr/bin/loginctl hibernate"
ACTION=="change", KERNEL=="BAT0", SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="2[0-5]", RUN+="/usr/bin/loginctl hibernate"
